<h2 class="mat-h2">Books</h2>

<div class="books-grid">
  <ws-book-card data-test="book-list-book-card"
    [content]="book"
    *ngFor="let book of books$ | async; trackBy: trackBookBy"
  ></ws-book-card>
</div>
